@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --black: #000;
    --hover-box-shadow: 0 0 1rem #0ef;
    --gradient-bg-color: linear-gradient(to bottom, #1f242d, #0ef);
    --gradient-two-color: linear-gradient(to top, #1f242d, #0ef);
    --transition: all .4s ease;
}

body {
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 5px;
    background: var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: var(--hover-box-shadow);
    border-radius: 1rem;
}

.container .left-side {
    position: relative;
    background: var(--second-bg-color);
    padding: 10px;
    border-radius: 1rem 0 0 1rem;
}

.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

/* .profile-text .img-box {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
} */

.img-box img {
    top: 0;
    left: 0;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1 {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
}

.dev {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 100;
}

p {
    /* border-bottom: 1px solid #fff; */
    padding: .3rem;
    color: var(--text-color);
    font-size: .8rem;
}

.contact-info {
    padding: .5rem;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    font-size: .9rem;
    color: var(--text-color);
}

li a {
    color: var(--bg-color);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: var(--hover-box-shadow);
    transition: var(--transition);
}

li a:hover {
    box-shadow: none;
}

.icon {
    font-size: 1rem;
    display: inline-block;

}

li a:hover {
    color: var(--text-color);
    transition: var(--transition);
}

.title {
    color: var(--text-color);
    text-align: center;
    margin-bottom: .5rem;
}

li h3 {
    color: var(--main-color);
}

li h4 {
    font-size: .8rem;
}

.contact-info .education {
    margin-bottom: 15px;
}

.contact-info.language .percent {
    position: relative;
    width: 100%;
    height: 8px;
    background: var(--black);
    display: block;
    margin: 7px;
    border-radius: 5px;
}

.contact-info.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--main-color);
    border-radius: 5px;
}

.container .right-side {
    position: relative;
    background: var(--bg-color);
    padding: 15px;
    border-radius: 1rem;
}

.title2 {
    color: var(--main-color);
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.text h3,
h5 {
    color: var(--main-color);
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year-company {
    min-width: 150px;
}

.job {
    display: flex;
    gap: 10px;
}

.job a button {
    color: var(--bg-color);
    text-decoration: none;
    font-size: .9rem;
    font-weight: 500;
    border: 2px solid var(--main-color);
    background: var(--main-color);
    border-radius: 3rem;
    box-shadow: var(--hover-box-shadow);
    transition: var(--transition);
    cursor: pointer;
}

.job a button:hover {
    color: var(--text-color);
    transition: var(--transition);
}

h4 {
    color: var(--text-color);
}